.btn {
  background-color: var(--color-5);
  font-size: 1rem;
  color: var(--color-6);
  font-weight: bold;
  /* font-family: "Muller"; */
  font-weight: bold;
  border: 0.1rem solid var(--color-5);

  transition: 300ms;
}

.btn:hover {
  background-color: white;
}