.logo {
  height: 4.25rem;

  display: flex;
  align-items: center;

  text-decoration: none;
}

.logo__img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.logo__name {
  max-width: 5.2rem;
  height: 100%;

  display: inline-flex;
  align-items: center;

  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-1);
  font-weight: 900;
  font-family: var(--font);
  line-height: 1.7rem;

  margin-left: 0.56rem;
}