.call-action {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  position: relative;

  margin-top: 13.25rem;
  margin-bottom: 6.56rem;
}

.call-action__content {
  max-width: 24rem;
  width: 100%;
}

.call-action__title,
.call-action__subtitle {
  font-size: 2.19rem;
  line-height: 2.81rem;
  font-weight: 800;
}

.call-action__title {
  color: var(--color-5);
}

.call-action__subtitle {
  color: var(--color-3);
}

.call-action__text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-3);

  margin-top: 4rem;
}

/* .call-action__form, */
.call-action__form-pc-teleport {
  width: 18.75rem;

  margin-right: auto;
  margin-left: 7.87rem;
}

.call-action__decor {
  width: 25.1rem;

  position: absolute;
  right: -7.2rem;
  z-index: -1;
}

@media screen and (max-width: 1130px) {
  .call-action__decor {
    opacity: 0.5;
  }
  .call-action {
    margin-top: 10.5rem;
  }
}

@media screen and (max-width: 880px) {
  /* .call-action__form, */
  .call-action__form-pc-teleport {
    margin-right: 0;
    margin-left: auto;
  }
  .call-action {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 770px) {
  /* .call-action__form, */
  .call-action__form-pc-teleport {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 610px) {
  .call-action__teleport-form {
    height: 19.5rem;
  }
  .call-action__form-mob-teleport {
    margin-top: 2rem;
  }
  .call-action__text {
    margin-top: 2.5rem;
  }
  .call-action__decor {
    top: 2.9rem;
  }
  .call-action__content {
    flex-shrink: 0;
  }
}